@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: beige;
}

.box-logo {
    display: flex;
    flex-direction: row;
}

header img{
    width: 5%;
    height: auto;
    display: flex;
    justify-content: center;
}

ul {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: beige;
    padding: 50px;
    gap: 20px;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    padding: 50px;
    display: flex;

}

#main-text h1{
    padding: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main-text p{
    padding: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.galeria{
    
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: space-around;
}

img {
    width: 250px;
    height: 100%;
    padding: 20px;
    border-radius: 20%;
}

footer {
    background-color: rgb(82, 104, 104);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-evenly;
}

#box-left {
    width: 40%;
    height: auto;
    padding: 20px;
    
}

#box-right {
    list-style: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
}